<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="index.html">
            <strong>ABC Insurance</strong>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="index.html">Home</a>
            <a class="navbar-item" href="services.html">Services</a>
            <a class="navbar-item" href="about.html">About</a>
            <a class="navbar-item" href="contact.html">Contact</a>
        </div>
    </div>
</nav>